*{
    margin: 0;
}
body{
    font-weight: 400, 500, 600, 700;
    Font-size: 16px;
    font-family:Poppins;
    padding: 6em;
    background-color:  hsl(0, 100%, 74%);
    background-image: url('bg-intro-desktop.png');
    display: flex;
    place-items: center;
    justify-content: center;
}
.item1{
    color: aliceblue;
    margin-right: 2em;
    vertical-align: auto;
}
.item2{

}
.itema{
    background-color:hsl(248, 32%, 49%);
    border: 0.5px white;
    border-radius: 4px;
    padding: 2em;
    color: aliceblue;
    text-align: center;

}
.itemb{
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    background-color: aliceblue;
    padding: 2em;
    border-radius: 4px;
}
input{
    margin-top: 15px;
    padding: 2em;
    border:0.5px solid hsl(246, 25%, 77%) ;
    border-radius: 4px;
    color:hsl(246, 25%, 77%);
}
button{
    background-color:  hsl(154, 59%, 51%);
    padding: 2em;
    border: 0.5px solid ;
    color: aliceblue;
    margin-top: 15px;
    margin-bottom: 15px;
}
a {
    color:red ;
}
h1,p{
    color: antiquewhite;
}

@media screen and (max-width:375px) {
    body{
        flex-direction: column;
    }
    .item1, .itema, .itemb{
        max-width: 375px;
    }
}